body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
nav {
    font-size: 20px;
}
.navbar-brand{
    font-size: 25px;
}

form > p{
    margin-bottom: 20px;
}
form > h2{
    margin-bottom: 30px;
}

form p input:focus{
    border-radius: 5px;
}